
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}

.intro h2 {
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.contact-form,
.contact-info {
  padding: 2rem;
}

.contact-form {
  color: #000;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-info {
  background-color: #fff;
  color: #333;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.input-container {
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea.input {
  resize: none;
  overflow-y: auto;
  
}

.btn {
  padding: 0.8rem 1rem;
  background-color: goldenrod;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: goldenrod;
  color: #fff;
  border: 2px solid #fff;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 1rem;
}

.contact-info label {
  font-weight: bold;
}

.contact-info p {
  margin: 0.5rem 0 0 0;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-form,
  .contact-info {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .input,
  .btn {
    padding: 0.6rem 1rem;
  }
}
