/* Navbar.css */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.navbar-logo-link strong {
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: larger;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.navbar-nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-nav-link:hover {
  color: darkgoldenrod;
}

.navbar-actions {
  display: flex;
  gap: 1rem;
}

.navbar-action-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
  cursor: pointer;
}

.navbar-action-link:hover {
  color: darkgoldenrod;
}

.navbar-action-link .link-text {
  display: none; /* Hide the link text */
}

